body{font-family:'Droid Sans Mono'!important;margin:0 20px}
a{text-decoration:none}
ul{list-style:none}
::selection{background:#e74c3c;color:#fff}
::-moz-selection{background:#e74c3c;color:#fff}
.main{margin-top:40px;left:100px}
.nav{text-align:center;padding:0;width:100%!important}
.nav ul{padding:0;margin-top:40px;margin-bottom:40px}
.nav li{display:inline-block}
.nav a{color:#000;text-decoration:none}
.nav a:hover{transition:background-color .25s ease;color:#fff;background:red}
.wrapper{margin-top:40px}
.home{display:inline}
.home p{display:inline;line-height:1.655}
.home a span,.home span{text-decoration:none;color:#e74c3c}
.home a span:hover{background:red;transition:background-color .25s ease;color:#fff;z-index:9999}
.homeGrid img{max-width: 100%;height:auto;}
.main a span{text-decoration:none;color:#e74c3c}
.main a span:hover{background:red;transition:background-color .25s ease;color:#fff;z-index:9999}
.about{margin-bottom:75px;}
.cursor{z-index:-9999;display:inline;top:40px!important;font-size:16px;color:#000!important;opacity:1;-webkit-animation:blink .9s infinite;-moz-animation:blink .9s infinite;animation:blink .9s infinite}
@keyframes blink{0%{opacity:1}
50%{opacity:0}
100%{opacity:1}}
@-webkit-keyframes blink{0%{opacity:1}
50%{opacity:0}
100%{opacity:1}}
@-moz-keyframes blink{0%{opacity:1}
50%{opacity:0}
100%{opacity:1}}
p.first{margin:0 0 16px}
.post-thumb{margin-bottom:40px;float:left;width:100%}
.work a h1{display:inline-block;text-transform:uppercase;font-size:12px;color:#000;text-decoration:none;padding:5px;}
.work a h1:hover{background:red;transition:background-color .25s ease;color:#fff}
.work img{width:100%!important;height:auto}
.post-thumb{padding:0.5%;}
.post-thumb img:hover{opacity:.8}
.blogPost{margin-bottom:100px;border-bottom:1px solid #000}
.blog a h1{color:#000;text-transform:uppercase;display:inline-block;font-weight:bolder;font-size:18px;margin:25px 0 50px}
.blog a h1:hover{background:red;transition:background-color .25s ease;color:#fff}
.blog p{font-size:14px;color:#474747;line-height: 1.75em;margin: 40px 0;}
.blog p a{text-decoration:none;color:#e74c3c}
.blog p a:hover{transition:opacity .25s ease;opacity:.5}
.blog strong{color: #545454;border-bottom:1px solid #d3d3d3;padding-bottom:5px;}
.backButton{color:red}
.contact a{text-decoration:none;color:#e74c3c}
.contact a:hover{background:red;transition:background-color .25s ease;color:#fff}
.contact ul{padding-left:0}
.contact li{margin-bottom:10px}
@media only screen and (min-width :768px){body{font-family:'Droid Sans Mono'!important;margin:0 0px}
.nav{text-align:left;position:fixed;top:0;left:50px;height:100%;width:50px}
.nav li{list-style:none;display:block}
.nav li a{text-decoration:none}
.main{position:relative;width:75%;}
.wrapper{margin-left:150px;margin-left:13%;margin-right:13%;}
img{max-width:100%!important;height:auto}}
@media only screen and (min-width :1000px){.post-thumb{float:left;width:48%;margin-bottom:0}}